*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #121212;
    color: #fff;
}
#header{
    width: auto;
    height: 100vh;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding-left: 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    background-color: rgba(18, 18, 18, 0.8);
    background-size: 25px;
    z-index: 999;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding-left: 100px;
    margin: 10px 10px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #89CFF0;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.title{
    width: 100%;
    height: 100%;
    margin-top: 40px;
    padding: 0;
    position: absolute;
    display: flex;
    justify-content: center; 
    align-items: center;
    background: linear-gradient(to bottom, #121212, transparent);
    background-size: cover;
    animation: fade-in 5s forwards;
}
title h1{
    font-weight: bold ;
}
@keyframes fade-in{
   0% {
    opacity: 0;
   }
   100% {
    opacity: 1;
   }
}

#aboutUs {
    padding: 80px 0;
    color: #ababab;
    background: #121212;
    background-size: cover;
    background-position: center;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col{
    flex-basis: 60%;
}
.subtitle{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.about-col p{
    line-height: 1.5;
    word-spacing: 0.5;
    padding-right: 50px;
    text-align: justify;
}
.tabTitles{
    display: flex;
    margin: 20px 0 40px;
}
.tabLinks{
    margin-right: 50px;
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
    position: relative;
    color: #fff;
}
.tabLinks::after{
    content: '';
    width: 0;
    height: 3px;
    background: #89CFF0;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tabLinks.activeLink::after{
    width: 50%;
}
.tabContents h1{
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.tabContents p{
    margin: 10px 0;
    margin-left: 10px;
    font-size: 16px;
    line-height: 1.5;
    word-spacing: 0.5;
    text-align: justify;
}
.tabContents h1{
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: justify;
}
.tabContents ul li{
    list-style: none;
    margin: 10px 0;
    margin-left: 10px;
}
.tabContents ul li span{
    color: #89CFF0;
    font-size: 18px;
    line-height: 1.5;
    word-spacing: 0.5;
}
.tabContents{
    display: none;
}
.tabContents.activeTab{
    display: block;
}
#peopleOfAccio{
    padding: 30px 0;
}
.container{
    line-height: 1.5;
}
.peopleList{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(750px, auto));
    grid-gap: 40px;
    margin-top: 50px;
    margin-right: 50px;
}
.peopleList div{
    background: #262626;
    padding: 40px;
    border-right: 10px;
    border-radius: 15px;
}
.peopleList div i{
    font-size: 40px;
}
.peopleList div h2{
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 15px;
    margin-top: 10px;
}
.peopleList div h2 span{
    padding-left: 20px;
}
.peopleList div p{
    font-size: 20px;
}
.peopleList div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.year{
    line-height: 1.5px;
    margin-bottom: 10px;
    font-size: 32px;
    text-decoration: none;
    position: relative;
}
.project h3{
    margin-left: 20px;
    margin-right: 80px;
    font-size: 30px;
    color: #fff;
    background-color: #89CFF0;
    background-size: 50% auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project h4{
    margin-left: 20px;
    margin-right: 80px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project p{
    margin: 20px 0;
    margin-right: 70px;
    font-size: 16px;
    line-height: 1.5;
    word-spacing: 0.5;
    text-align: justify;
    padding-bottom: 30px;
}
.video{
    display: flex;
    justify-content: center;
    align-items: center;    
}
.contactLeft{
    flex-basis: 35%;
}
.contactRight{
    flex-basis: 60%;
}
.contactLeft p{
    margin-top: 30px;
    font-size: 25px;
}
.contactLeft p i{
    color: #89CFF0;
    margin-right: 15px;
    font-size: 25px
}
.btn{
    display: inline-block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #89CFF0;
    background-color: #121212;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}
.btn:hover{
    background: #89CFF0;
    cursor: pointer;
}
.contactRight form{
    width: 100%;
}
form input, form textarea{
    width: 80%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form btn{
    padding: 14px 60px;
    font-size: 10px;
    cursor: pointer;
}
#msg{
    color: #fff;
    margin-top: -20px;
    display: block;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 300;
    margin-top: 20px;
}
nav.fas{
    display: none;
}

@media only screen and (max-width: 720px){
    nav i{
        display: block;
        position: fixed;
        font-size: 30px;
        right: 0;
        top: 0;
        cursor: pointer;
        padding: 10px;
    }
    nav ul{
        background-color: rgba(18, 18, 18, 0.8);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 10px;
    }
    nav ul i{
        position: absolute;
        font-size: 30px;
        top: 25px;
        left: 25px;
    }
    nav i:hover{
        cursor: pointer;
    }
    nav ul i{
        cursor: pointer;
    }
    
}
@media only screen and (min-width: 720px) {
    #crossIcon{
        display: none;
    }
    #menuIcon{
        display: none;
    }
}
